body{
  background: -webkit-gradient(linear, left top, left bottom, from(#f0fdff), to(#415661)) fixed;
}
::placeholder { 
  color: #F0FDFF;
  opacity: 1; /* Firefox */
}
a{
  color: #415661;
  text-decoration: none;
}

a:hover{
  text-decoration: none;
}

underline-text{
  text-decoration: underline;
}
.bootstrap_chat {
  background-color: #74EBD5;
  min-height: 100vh;
}

.text-small {
  font-size: 0.9rem;
}

.messages-box, .chat-box {
  height: 510px;
  overflow-y: scroll;
}

.rounded-lg {
  border-radius: 0.5rem;
}


h3,h4,h5{
  color: #F0FDFF;
}
